.header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F4F8FB;
  height: 60px;
  width: calc(100% - 200px);
  position: fixed;
  z-index: 1;
  top: 0px;
}
.searchBar{
    width: 20rem;
    & input {
        height: 10px;
        background-color: #EAEFF5;
    }
}

.profile{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  & p {
    text-align: right;
    margin: 2px 15px;;
  }
}